<WebResourceDeployer>
  <Connections>
    <Connection>
      <Name>[AXAR2] Call Centre</Name>
      <OrgId>dcfaf4f5-4e90-e611-80d1-005056af124a</OrgId>
      <ConnectionString>VXJsPWh0dHA6Ly9heGEtZGV2LnZlcmlwYXJrLmNvbS9heGFyMjtEb21haW49QVhBMTY7VXNlcm5hbWU9Q1JNQWRtaW47UGFzc3dvcmQ9J1R0MTIzNDUnO0F1dGhUeXBlPUlGRDtSZXF1aXJlTmV3SW5zdGFuY2U9dHJ1ZTs=</ConnectionString>
      <Version>8.1.0.359</Version>
    </Connection>
  </Connections>
  <Files>
    <File>
      <OrgId>dcfaf4f5-4e90-e611-80d1-005056af124a</OrgId>
      <Path>/TestJSFiles/jquery-2.1.1.js</Path>
      <WebResourceId>65476da9-e1fb-473d-88ee-1c30dd4154cc</WebResourceId>
      <WebResourceName>cc_MscrmControls.Multimedia.MultimediaPlayerControl/libs/jquery_2.1.1.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
  </Files>
</WebResourceDeployer>