<WebResourceDeployer>
  <Connections>
    <Connection>
      <Name>AXADEVR2</Name>
      <OrgId>dcfaf4f5-4e90-e611-80d1-005056af124a</OrgId>
      <ConnectionString>VXJsPWh0dHA6Ly9heGEtZGV2LnZlcmlwYXJrLmNvbS9BWEFSMjtEb21haW49YXhhMTY7VXNlcm5hbWU9Y3JtYWRtaW47UGFzc3dvcmQ9J1R0MTIzNDUnO0F1dGhUeXBlPUlGRDtSZXF1aXJlTmV3SW5zdGFuY2U9dHJ1ZTs=</ConnectionString>
      <Version>8.1.0.359</Version>
    </Connection>
  </Connections>
  <Files>
    <File>
      <OrgId>dcfaf4f5-4e90-e611-80d1-005056af124a</OrgId>
      <Path>/Case/js/vrp_CaseManagementScriptLibrary.js</Path>
      <WebResourceId>31B4806B-CAF8-4C2E-8796-2EDF1B8A5020</WebResourceId>
      <WebResourceName>cc_MscrmControls.Multimedia.MultimediaPlayerControl/libs/jquery_2.1.1.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
  </Files>
</WebResourceDeployer>