<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="Username" value="crmadmin" />
    <add key="Server" value="bwhcrmdev" />
    <add key="Password" value="Tt12345" />
    <add key="Domain" value="BWH16" />
    <add key="Port" value="80" />
    <add key="OrganizationName" value="CRMSolutionManagerTest" />
    <add key="UseSSL" value="false" />
    <add key="TimeOutInMinutes" value="360" />

    <!--Console|File-->
    <add key="Tracer" value="Console" />
  </appSettings>
  <runtime>
  </runtime>
</configuration>